.main{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.top{
text-align: center;
  font-family: arial;
}
hr{
  width: 100%;
}
 img{
   width: 200px;

  }

.student{
font-family: arial;
color:gray;
margin-left: 15px;
}

.imagen{
margin-bottom: 5px;
margin-top: 5px;
border: 2.5px solid gray;
}

.mono{

margin-top: 15px;
font-family: arial;
}

.spisok{
color: black;
}

.nomer{

margin-top: 15px;
font-family: arial
}

.nomer2{
font-family: arial;
color: black;

}

.vk{
margin-top: 15px;
font-family: arial;
}



.fid{
margin-top: 15px;
font-family: arial;
}

.nomer4{
color: black;
}
